# Warsztaty Python w Data Science

***

## Data Wrangling z Biblioteką Pandas 
### Część 3 z 5 

---
- ## `pivot`
- ## MultiIndex
- ## `stack` i `unstack`

***

# https://github.com/Bits-of-Data-PL/PythonDataScience

---
### Zadanie 1

Przerobic DataFrame:

In [ ]:
import pandas as pd

data = {'weekday': ["Monday", "Tuesday", "Wednesday", 
         "Thursday", "Friday", "Saturday", "Sunday"],
        'Person 1': [12, 6, 5, 8, 11, 6, 4],
        'Person 2': [10, 6, 11, 5, 8, 9, 12],
        'Person 3': [8, 5, 7, 3, 7, 11, 15]}
df = pd.DataFrame(data, columns=['weekday',
        'Person 1', 'Person 2', 'Person 3'])
df

Na postać "tidy" (1 wiersz na 1 punktację danej osoby).

In [ ]:
melted = pd.melt(df, id_vars=["weekday"], 
                 var_name="Person", value_name="Score")
melted

---

### Zadanie 2

Do poniższego DataFrame:
    
`df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, 10))`

Dołożyć:
    
- kolumnę z sumą po wierszach
- wiersz z sumą po kolumnach

wskazówka: działać "wzdłuż osi"

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, 10))
df

In [ ]:
df['Total'] = df.sum(axis=1)
df

In [ ]:
df.shape

In [ ]:
length, width = df.shape
length

In [ ]:
df.loc[length] = df.sum(axis=0)
df

---

### Zadanie 3

Brakujące dane w `df_blood` uzupełnić średnią z danej kolumny

In [ ]:
import pandas as pd

url = 'data/blood.csv'

df_blood = pd.read_csv(url, sep = ',')
df_blood

In [ ]:
mean_value=df_blood['Rano SYS'].mean()
mean_value

In [ ]:
df_blood['Rano SYS'].fillna(mean_value, inplace=True)
df_blood

In [ ]:
df_blood.columns

In [ ]:
df_blood.columns[2:]

In [ ]:
for col_name in df_blood.columns[2:]:
    mean_value=df_blood[col_name].mean()
    df_blood[col_name].fillna(mean_value, inplace=True)
    
df_blood

In [ ]:
pd.options.display.float_format = "{:,.2f}".format

In [ ]:
df_blood

***

---
# Zmiana kształtu DataFrame
## Szeroki w długi - `melt`

In [ ]:
df = pd.DataFrame({'Student': {0: 'Kowalski J.', 1: 'Nowak A.', 2: 'Korzycki M.'},
                   'WuEf': {0: 5, 1: 4, 2: 2},
                   'Polski': {0: 4, 1: 4, 2: 2},
                   'Matma': {0: 5, 1: 3, 2: 2}})
df

In [ ]:
df1 = pd.melt(df, id_vars=['Student'], value_vars=['WuEf', 'Matma', 'Polski'],
       var_name='Przedmiot', value_name='Ocena')
df1

---
## Długi w szeroki - `pivot`

![title](img/pivot.png)

Źródło: https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

In [ ]:
df_pivot = df1.pivot(index='Student', columns='Przedmiot')
df_pivot

In [ ]:
df_pivot.index

In [ ]:
df_pivot.columns

In [ ]:
df_pivot.reset_index()

In [ ]:
df_pivot.reset_index().columns

In [ ]:
df = pd.DataFrame({'value': np.random.randint(0, 100, 10)})
df

In [ ]:
import pandas as pd
import numpy as np

labels = ["{0} - {1}".format(i, i + 9) for i in range(0, 100, 10)]
df['Group'] = pd.cut(df.value, range(0, 105, 10), right=False, labels=labels)
df

In [ ]:
df.groupby('Group').agg({'value': ['count', sum]})

---
## MultiIndex

In [ ]:
df_grouped = df.groupby('Group').agg({'value': ['count', sum]})

In [ ]:
df_grouped

In [ ]:
df_grouped.columns

In [ ]:
stocks = pd.read_csv('data/stocks.csv')
stocks

In [ ]:
stocks.index

In [ ]:
stocks.groupby('Symbol').Close.mean()

In [ ]:
seria = stocks.groupby(['Symbol', 'Date']).Close.mean()
seria

![](img/unstack.png)

Źródło: https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

In [ ]:
seria.unstack()

### `groupby` i `unstack` - to to samo co `pivot_table`

In [ ]:
stocks.pivot_table(values='Close', index='Symbol', columns='Date')

In [ ]:
stocks.pivot_table(values='Close', index='Symbol', aggfunc=max)

In [ ]:
stocks.pivot_table(values='Close', index='Symbol', aggfunc=np.mean)

In [ ]:
stocks_indexed = stocks.set_index(['Symbol','Date'])
stocks_indexed

In [ ]:
stocks_indexed.unstack()

In [ ]:
tuples = list(
    zip(
        *[
            ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
            ["one", "two", "one", "two", "one", "two", "one", "two"],
        ]
    )
)
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])
df

In [ ]:
df.unstack()

In [ ]:
df.unstack().unstack()

In [ ]:
df.unstack().unstack().unstack()

In [ ]:
df = pd.DataFrame({ 'foo': ['one', 'one', 'one', 'two', 'two', 'two'],
                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'baz': [1, 2, 3, 4, 5, 6], 
                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

In [ ]:
df

## Stack 

![](img/stack.png)

Źródło: https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

In [ ]:
df.stack()

In [ ]:
df.stack().reset_index()

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.stack().unstack()

In [ ]:
df

---

### Długi w szeroki - `pivot` jeszcze raz

In [ ]:
df.pivot(index='foo', columns='bar', values='baz')

In [ ]:
df.pivot(index='foo', columns='bar', values=['baz', 'zoo'])

In [ ]:
df_e = pd.DataFrame({"foo": ['one', 'one', 'two', 'two'],
                   "bar": ['A', 'A', 'B', 'C'],
                   "baz": [1, 2, 3, 4]})
df_e

In [ ]:
df_e.pivot(index='foo', columns='bar', values='baz')  # Error

In [ ]:
df = pd.DataFrame({"foo": ['one', 'two', 'three', 'four'],
                   "bar": ['A', 'B', 'C', 'D'],
                   "baz": [1, 2, 3, 4]})
df

In [ ]:
df.pivot(index='bar', columns='foo')

In [ ]:
df.pivot(index='foo', columns='bar')

In [ ]:
df.groupby(['foo', 'bar'])['baz'].aggregate('mean')

In [ ]:
df.groupby(['foo', 'bar'])['baz'].aggregate('mean').unstack()

---
### Zadanie 1

Napraw `df_e` biorąc maksimum wartości `baz` dla pary `foo`, `bar` (odrzuć konflikty)

Na postać "tidy" (1 wiersz na ocenę)

---

### Zadanie 2

Biorąc następujący DataFrame:

In [ ]:
df = pd.DataFrame(data = {
    'Day' : ['MON', 'TUE', 'WED', 'THU', 'FRI'], 
    'Google' : [1129,1132,1134,1152,1152], 
    'Apple' : [191,192,190,190,188] 
})
df

In [ ]:
reshaped_df = df.melt(id_vars=['Day'], var_name='Company', value_name='Closing Price')
reshaped_df

Stworzyć korzystając z `reshaped_df` DataFrame identyczny z `df`